img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
  padding-top: 2em;
}
#main {
  text-align: center;
  width: 90%;
  margin: auto;
  margin-bottom: 2em;
}
#img-div {
  border: 1px solid;
  border-color: hsl(0, 0%, 20%);
  width: 50%;
  margin: auto;
}
a {
  text-decoration: none;
}
@media (max-width: 600px) {
  #img-div {
    width: 90%;
  }
}
body {
  background-color: hsl(0, 0%, 98%);
  font-family: 'Playfair Display', serif;
}
#img-caption {
  font-style: italic;
}
h1 {
  font-style: bold;
}

